h1 {
    text-align: center;
}

picture {
    display: flex;
    justify-content: center;
}

.myImage {
    height: 600px;
    width: 400px;
    box-shadow: 0 0 10px black;
	border-radius: 5px;
	background-color: black;
    margin-bottom: 15px;
    animation: fade 10s;
}
footer {
    text-align: center;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}