:root {
	--background: #0077b6;
  --background2: #00b4d8;
  --fontdark: #03045e;
	--fontlight: white;
	--border: black;
	--borderlight: grey;
	--shadow: grey;
  --redx: "\2715";
  --hamburger: "\2630";
  --alert: red;
  --bord: 1px solid black;
	--zebra: lightgrey;
}

body {
  height: 100vh;
  margin: 10px;

}

nav button.open::before {
	content: var(--redx);
  color: var(--alert);
}

nav {
  background-color: var(--background); 
  display: flex;
  flex-direction: column-reverse;
  align-items: center ;
  justify-content: right;
  height: 6em;
}

nav button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 3px 5px;
  margin: 10px;
}

nav a { 
  color: var(--fontlight);
  padding: 0 1rem;
}

nav button::before {
	content: var(--hamburger);
}

nav button.open::before {
	content: var(--redx);
  color: var(--alert);
}

nav section {
  display: none;
}

nav section.open {
  display: block;
}

nav.open a img {
  margin: 3px;
}

a.icon {
  padding: 0;
}

img.dark.light {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
}

.hero {
    width: 100%;
    height: auto;
}

.herolabel {
	position: absolute;
	top: 190px;
	left: 14px;
	background: radial-gradient(var(--fontlight), var(--background2));
	border: 1px solid black;
	padding: 4px;
	box-shadow: 0 0 2rem var(--fontlight);
	opacity: 0.75;
}

.herolabel p {
	margin: 0;
  padding-right: 4px;
  font-weight: 900;
	font-size: 1.8rem;
  font-family: 'Tangerine', serif;
  font-size: 4vw;
}

a img {
  width: 40px;
  height: auto;
  padding: 3px;
}

header {
  background: var(--background2);
  padding-left: 1%;
  height: 5em;
}

#profile {
  background-color: var(--fontlight);
  float: left;
  margin-right: 1.5em;
  height: 5em;
  border-radius: 19px;
  box-shadow: 0 0 10px black;
}

header h1 {
  margin: 0;
  text-align: left;
  padding-top: 1%;
}

main {
  background: var(--fontlight);
  }

main h2 {
  font-weight: normal;
  margin-bottom: 0;
}

.card {
  display:  block;
  border: 2px;
  border-radius: 19px;
  box-shadow: 0 0 10px black;
  margin-top: 10px;
}

.card h3 {
  text-align: center;
  background-color: var(--background2);
  border-radius: 20px 20px 0 0;
  margin: 0;
}



ul.noBullets {
  list-style:none;
  margin: 0;
  padding: 0;
}

.card p, .card a {
  margin: 1px;
  padding: 8px 8px;
}


footer {
  background: var(--background);
  color: white;
  text-align: center;
  margin: auto;
  height: 4em;
}

.highlight {
  color: var(--fontlight);
}

.google-maps {
  position: relative;
  padding-bottom: 75%; 
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  display: block;
  padding: 0 10px;
  width: 90%;
}

/*----------- FORM --------------*/
form fieldset {
  margin: 1rem 0;
  border: 1px solid var(--background2);
  padding: 2%;
}
form legend {
  color: var(--background);
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: black;
  font-size: .8rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px var(--border);
  border-radius: 8px;
  padding: .75rem;
  color: black;
  width: 90%;
  max-width: 20rem;
  background-color: lightgrey;
}

form input.submitBtn {
  border: none;
  background-color: var(--background);
  color: var(--fontlight);
  border-radius: 1rem;
  margin-top: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 0 0;
  width: 96%;
  max-width: 20rem;
  font-size: 14px;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

#ratings, #r {
width: 83%;
max-width: 20rem;
padding-top: 0;
}

#rating {
  font-size: 20px;
  color: rgb(80, 78, 78);
}


#left {
  color: var(--alert);
}

#right {
  float: right;
  color: green;
}

/*----------- TABLE --------------*/

#yourForm {
  display: none;
  margin-left: auto;
  background-color: var(--fontlight);
}

table {
	margin: 10px;
	border: var(--bord);
	box-shadow: 0 0 7px var(--shadow);
	border-collapse: collapse;
}

th, td {
	padding: 7px 15px;
  border: var(--bord);
}

th {
	background-color: var(--background2);
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

#formmessage {
  color: var(--fontlight);
  align-content: center;
  width: 80%;
  max-width: 20rem;
  text-align: center;
  padding: 8px;
}
