body {
  display: grid;
  height: 100vh;
}

header {
  background: lightblue;
  padding: 1rem;
}

header img {
  background-color: black;
}

nav {
  background-color: blue; 
  display: flex;
  flex-direction: column-reverse;
  align-items: center ;
  justify-content: right;
  gap: 3rm;
}

main {
  background: white;
  padding: 1rem;
}

footer {
  background: lightblue;
  padding: 2rem;
  text-align: center;
}
a img {
  width: 80px;
}
#profile {
  width: 80px;
}
.material-icons.md-light { 
  color: rgba(255, 255, 255, 1); 
}
