body {
  height: 100vh;
}
nav {
  background-color: blue; 
  display: flex;
  flex-direction: column-reverse;
  align-items: center ;
  justify-content: right;
  height: 8em;
}

nav a {
  color: white;
  padding: 0 1rem;
}

#darkLightMode {
  height: 20px;  
}

.material-icons.md-light{
  font-size: 1.5rem ;
  padding: 0px;
  color: white;
}


a img {
  width: 40px;
  padding: 3px;
}

header {
  background: lightblue;
  padding-left: 1%;
  height: 5em;
}

#profile {
  background-color: white;
  float: left;
  margin-right: 1.5em;
  height: 5em;
  border-radius: 19px;
  box-shadow: 0 0 10px black;
}

header h1 {
  margin: 0;
  text-align: left;
  padding-top: 1rem;
  font-family: 'Tangerine', serif;
  font-weight: bolder;
  font-size: 3rem;
}

main {
  background: white;
  margin: 1em;
}

main h2 {
  font-weight: normal;
  margin-bottom: 0;
}

.card {
  display:  block;
  border: 2px;
  border-radius: 19px;
  box-shadow: 0 0 10px black;
  margin: 1em;
}

.card h3 {
  text-align: center;
  background-color: lightblue;
  border-radius: 20px 20px 0 0;
  margin: 0;
}

.card ul {
  padding: 0 1em;
}

.card p {
  margin: 1em 1em;
}

ul.noBullets {
  list-style:none;
}
.card li p {
  margin: .5em 0;
}

  .card a {
    margin: 1em;
    padding: 0;
    border: 1em;
  }

.card li p a {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block: 0;
}

footer {
  background: blue;
  color: white;
  text-align: center;
  padding: 1em;
  margin: auto;
  height: 5em;
}


.highlight {
  color: rgb(255, 234, 0);
}